.ad3d-curlabel {
  text-align: left;
  text-transform: uppercase;
  color: #282828;
  display: block;
  font-size: 0.67em;
  margin-top: 0.12em;
  margin-bottom: 0.06em;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

/*----------------------------------------------------------*/
 
h1 {
	text-indent: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  display: block;
  font-size: 2em;
  padding: 0px;
  margin-top: -0.5em;
  margin-bottom: 0.12em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  text-align: center;
  text-transform: lowercase;
  color: #282828;
  display: block;
  font-size: 1em;
  margin-top: 0.06em;
  margin-bottom: 0.06em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  text-align: left;
  text-transform: lowercase;
  color: #282828;
  display: block;
  font-size: 0.67em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

h4 {
  text-align: left;
  text-transform: uppercase;
  color: #282828;
  display: block;
  font-size: 0.88em;
  margin-top: 0.88em;
  margin-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  text-align: left;
  text-transform: uppercase;
  color: #282828;
  display: block;
  font-size: 1.8em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

p {
  text-indent: 10px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #dcdcdc;
}

h1, p {
  margin: 0 0 1em 0;
}