/*----------------------------------------------------------*/

.ad3d-inputslist {
	display: block;
	margin: 5px;
	float: none;
	width: 100%;
	}

.ad3d-colorcanvas {
	display: block;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	float: none;
	width: 100%;
	min-width: 250px;
	max-width: 250px;
	}

/*----------------------------------------------------------*/

#ad3d-colorwheeldisplay{
	margin: 10px 15px 10px 1px;
	padding: 1px 10px 10px 10px;
	border-radius: 6px;
}

#ad3d-colorwheeldisplay::before{
	content: '';
	color: #ffffff;
	text-shadow: 0 0 4px #333333;
}

#ad3d-colorwheeldisplay.assigned::before{
	content: '';
}
