.ad3d-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 70px;
  
}

.ad3d-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  
}

.ad3d-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid #282828;
  -webkit-transition: .4s;
  transition: .4s;
}

.ad3d-slider:before {
  position: absolute;
  text-indent: 5px;
  font-size: 0.4em;
  color: #ccc;
  content: "Off";
  height: 60px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .ad3d-slider {
  background-color: white;
  
}

input:focus + .ad3d-slider {
  box-shadow: 0 0 1px #282828;
  
}

input:checked + .ad3d-slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  color: white;
  content: "On";
}

/* Rounded sliders */
.ad3d-slider.round {
  border-radius: 6px;
  
}

.ad3d-slider.round:before {
  border-radius: 10%;
}