/*----------------------------------------------------------*/

.inputs-list {
	margin: 50px 10px 10px 10px;
	float: right;
	width: 40%;
	}

.color-canvas {
	margin-top: 30px;
	margin-left: 40px;
	float: left;
	width: 40%;
	}

/*----------------------------------------------------------*/

#ad3d-colorwheeldisplay{
	margin: 10px 15px 1px 1px;
	padding: 10px 10px 10px 10px;
	border-radius: 6px;
}

#ad3d-colorwheeldisplay::before{
	content: '';
	color: #ffffff;
	text-shadow: 0 0 4px #333333;
}

#ad3d-colorwheeldisplay.assigned::before{
	content: '';
}

/*----------------------------------------------------------*/


@media only screen and (max-width: 768px) {
	.inputs-list {
	margin: 10px 10px 10px 10px;
	padding-left: 30px; 
	float: right;
	width: 100%;
	}

.color-canvas {
	float: none;
	position: relative;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 280;
	}
}


@media screen and (max-width: 600px) {
	.inputs-list {
	margin: 30px 10px 10px 30px;
	padding-left: 30px; 
	float: right;
	width: 100%;
	}
	
	.color-canvas {
	float: none;
	min-width: 280;
	padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: auto;
    display: block;
	}
}